@charset "UTF-8";

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    color: #1d2731;
    background-color: #efefef;
    font-family: Georgia;
    margin: 0;
}

ul{
    padding: 0;
}

.grid{
    display: grid;
    grid-template-rows: 150px auto auto 100px;
    grid-template-columns: repeat(10, 10%);
}

.header{
    grid-column: 1 / 11;
    grid-row: 1 / 2;
    text-align: right;
    background-color: #07889b;
    color: #efefef;
    border-bottom: 1px solid #efefef;
}

.nav{
    grid-column: 1 / 11;
    grid-row: 2 / 3;
}

.nav-ul{
    background-color: #ff383f;
    margin: 0;
}

.nav-li{
    list-style: none;
    margin-left: 0;
    border-bottom: 1px solid #efefef;
}

.nav-li-a{
    padding: 0.6em 2rem;
    display: block;
}

.nav-ul a:link{
    text-decoration: none;
}

.nav-ul a:link, .nav-ul a:visited{
    color: white;
}

.nav-ul a:hover, .nav-ul a:focus, .nav-ul a:active{
    background-color: black;
    color: #efefef;
}

.nav-active{
    color: black;
    background-color:  white;
}

.content{
    grid-column: 1 / 11;
    grid-row: 3 / 4;
    padding: 0 1rem 0 2rem;
}

.aside{
    grid-column: 1 / 11;
    grid-row: 4 / 5;
    border-top: 1px solid #a9a9a9;
    padding: 0 1rem 0 2rem;
}

.footer{
    grid-column: 1 / 11;
    grid-row: 5 / 6;
    background-color: #a9a9a9;
    color: #efefef;
    padding: 1em;
    text-align: center;
    border-top: 1px solid #efefef;
}

.img-art{
    float: left;
    margin: 0 1em 0.6em 0;
    max-width: 40%;
    height: auto;
}

.img-side{
    float: left;
    margin: 0.1em 1em 0.2em 0.2em;
    max-width: 40%;
    height: auto;
}

.img-logo{
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 40em) {
    .header{
        text-align: right;
    }

    .content{
        grid-column: 1 / 8;
        grid-row: 3 / 5;
        padding: 0 1rem 0 2rem;
    }
    .aside{
        grid-column: 8 / 11;
        grid-row: 3 / 5;
        padding: 0 2rem 0 2rem;
        border-top: none;
    }

    .nav-ul{
        padding: 0 2rem;
        overflow: hidden;
    }

    .nav-li{
        float: left;
        display: inline-block;
        border: none;
        width: auto;
    }

    .nav-li-a{
        padding: 0.7em 1.2rem;
        display: inline-block;
    }
}

@media screen and (min-width: 64em) {
    .content{
        grid-column: 3 / 8;
        grid-row: 2 / 5;
        padding: 1em 1.5em;
    }

    .aside{
        grid-column: 8 / 11;
        grid-row: 2 / 5;
        padding: 1em 1.5em;
    }

    .nav{
        grid-column: 1 / 3;
        grid-row: 2 / 5;
        background-color: #ff383f;
    }

    
}